.body {
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
.contact {
  width: 90%;
  margin: auto;
  text-align: left;
  font-family: "Inter";
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-h1 {
  width: 100%;
  margin-left: 0;
  margin-bottom: -0.2em;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}
.heading-p {
  width: 100%;
  margin-left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.form-entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}
.entry {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 10px 14px 10px 14px;
  border: 1px solid lightgray;
  background-color: transparent;
  box-shadow: none;
}
.input:focus {
  outline: none;
  border: 1px solid rgb(125 211 252);
}
.text-area:focus {
  outline: none;
  border: 2px solid rgb(244 63 94);
}
.show {
  margin-top: -0.2em;
  color: rgb(244 63 94);
}
.hide {
  display: none;
}
.checkbox {
  width: 13px;
  height: 13px;
  margin-left: 2px;
  border-radius: 4px;
  appearance: none;
  border: 1px solid #34495E;
  outline: none;
  transition-duration: 0.3s;
}
.checkbox:checked {
  border: 1px solid #1570EF;
  background-color: lightgray;
}
.checkbox-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px ;
}
.send-btn {
  width: 100%;
  border-radius: 8px;
  margin-top: 14px;
  padding: 12px 20px 12px 20px;
  background-color: #1570EF;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.send-btn:hover {
  background-color: rgb(30 64 175);
}

/* For medium and large screen */
@media  screen and (min-width: 769px) {
  .contact {
    width: 50%;
  }
  .lg-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .fst-name {
    width: 45%;
  }
  .lst-name {
    width: 45%;
  }
}