.footer {
    margin-top: 4em;
    width: 96%;
    margin-left: 2%;
}
hr {
    height: 0px;
    color: lightgray;
    border: none;
    border-top: 0.0095em solid;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-img {
    height: 30px;
    width: 187.58621215820312px;
}
P {
    margin-left: 0.5em;
}
.i4g {
    width: 132.5px
}

/* For medium and large screen */
@media screen and (min-width: 769px) {
    .footer {
        width: 86%;
        margin-left: 7%;
    }    
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }   
}